<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Указали файл с конфигурациями -->
    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="myPet"
        class="org.example.models.Dog">
    </bean>

    <bean id="myPersonWithPropFile"
          class="org.example.models.Person">
        <constructor-arg ref="myPet"/>
        <constructor-arg name="name" value="${person.name}"/>
        <constructor-arg name="age" value="${person.age}"/>
    </bean>

    <bean id="myPerson"
        class="org.example.models.Person">
        <constructor-arg ref="myPet"/>
        <constructor-arg name="name" value="John Doe"/>
        <constructor-arg name="age" value="30"/>
    </bean>

    <bean id="myPersonSet"
        class="org.example.models.Person">
        <property name="pet" ref="myPet"/>
        <property name="name" value="Jane smith"/>
        <property name="age" value="20"/>
    </bean>
</beans>